version: '3'

services:
  dbserver:
    image: mysql
    container_name: demo_dbserver
    ports:
      - "3306:3306"
    restart: always
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    volumes:
      # - ./mysql.cnf:/etc/my.cnf.d/mysql.cnf
      - /Users/ozgur/Development/Code/DJANGO/Projects/Databases/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_HOST=172.18.0.1
      - MYSQL_ROOT_PASSWORD=mysqladmin
      - MYSQL_USER=wbdap
      - MYSQL_PASSWORD=wbdap
      - MYSQL_DATABASE=wbdap


  django:
    build: .
    image: demo_django_app:latest
    container_name: demo_django_app
    # command: python3 manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/srv/static
    # ports:
    #   - "8000:8000"
    expose:
      - "8000"
    depends_on:
      - dbserver


  nginx:
    image: nginx:latest
    container_name: demo_nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./src:/src
      - ./nginx_config:/etc/nginx/conf.d
    depends_on:
      - django
